sudo: false
language: node_js
node_js:
  - 7
  - 8
before_script:
  - "[ ! -f wrk/bin/wrk ] && rm -rf wrk && git clone https://github.com/wg/wrk.git && make -C wrk && mkdir wrk/bin && mv wrk/wrk wrk/bin || true"
  - export PATH=$PATH:$PWD/wrk/bin/
script:
  - yarn lint
  - yarn test-cov
  - yarn bench
after_script:
  - yarn add codecov
  - ./node_modules/.bin/codecov
